# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Environments
.venv/
.env
.python-version

# Project specific
logs_with_embeddings.json
data/BGL.log
output/

# OS-specific
.DS_Store
Thumbs.db

# uv
uv.lock

.claude
conductor